body {
    background-image: url(resources/pandas.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.big-block {
    width: 400px;
    border: 5px solid forestgreen;
    background: floralwhite;
    margin-left: 35%;
    margin-top: 15%;
    vertical-align: center;
    //horiz-align: center;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 20px;
    position: center;
    align-content: center;
}

.labels {
    font: 18px "Rockwell Condensed";
}

.line {
    size: 3px;
    width: 380px;
    float: left;
}

.choice-button {
    text-align: center;
    width: 220px;
    height: 50px;
    border-radius: 90px;
    margin-left: 75px;
    margin-bottom: 25px;
    margin-top: 25px;
    cursor: pointer;
    display: block;
    font: 25px/50px "Rockwell";

    border: 3px solid #e0a444;
    background: #fed176;
    color: #000000;
}

.choice-button:hover {
    background: rgb(214, 231, 255) bottom left;
}

.myInp {
    width: 100px;
    height: 100px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

